@import "tailwindcss";

@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/inter/files/inter-latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@theme {
  --default-font-family: "Inter Variable";

  /* Variables semánticas de color */
  --color-primary: var(--color-blue-500);
  --color-primary-light: var(--color-blue-300);
  --color-primary-dark: var(--color-blue-700);

  --color-secondary: var(--color-red-500);
  --color-secondary-light: var(--color-red-300);
  --color-secondary-dark: var(--color-red-700);

  --color-warning: var(--color-yellow-500);
  --color-warning-light: var(--color-yellow-300);
  --color-warning-dark: var(--color-yellow-700);

  --color-error: var(--color-red-600);
  --color-error-light: var(--color-red-400);
  --color-error-dark: var(--color-red-800);

  --color-success: var(--color-green-500);
  --color-success-light: var(--color-green-300);
  --color-success-dark: var(--color-green-700);

  --color-info: var(--color-blue-400);

  /* Variables adicionales útiles */
  --color-background: #ffffff;
  --color-surface: #f8f9fa;
  --color-border: #e0e0e0;

  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-disabled-text: #bdbdbd;
  --color-on-primary-text: #ffffff;
  --color-on-secondary-text: #ffffff;
  --color-on-error-text: #ffffff;

 /* custom colors */
    --color-blue-50: #eaf9f9;
    --color-blue-100: #beebeb;
    --color-blue-200: #9fe2e2;
    --color-blue-300: #73d5d5;
    --color-blue-400: #58cdcd;
    --color-blue-500: #2ec0c0;
    --color-blue-600: #2aafaf;
    --color-blue-700: #218888;
    --color-blue-800: #196a6a;
    --color-blue-900: #135151;

    --color-red-50: #f7e6e6;
    --color-red-100: #e6b2b2;
    --color-red-200: #da8d8d;
    --color-red-300: #c95959;
    --color-red-400: #be3939;
    --color-red-500: #ae0707;
    --color-red-600: #9e0606;
    --color-red-700: #7c0505;
    --color-red-800: #600404;
    --color-red-900: #490303;

    --color-green-50: #e6f2e8;
    --color-green-100: #b0d8b9;
    --color-green-200: #8ac597;
    --color-green-300: #54aa67;
    --color-green-400: #339949;
    --color-green-500: #00801c;
    --color-green-600: #007419;
    --color-green-700: #005b14;
    --color-green-800: #00460f;
    --color-green-900: #00360c;

    --color-yellow-50: #fffde6;
    --color-yellow-100: #fff8b0;
    --color-yellow-200: #fff58a;
    --color-yellow-300: #fff154;
    --color-yellow-400: #ffee33;
    --color-yellow-500: #ffea00;
    --color-yellow-600: #e6d200;
    --color-yellow-700: #b5a600;
    --color-yellow-800: #8c8100;
    --color-yellow-900: #6b6200;

    --color-black-50: #e6e6e6;
    --color-black-100: #b0b0b0;
    --color-black-200: #8a8a8a;
    --color-black-300: #545454;
    --color-black-400: #333333;
    --color-black-500: #000000;

    --color-white-50: #ffffff;
    --color-white-100: #ffffff;
    --color-white-200: #ffffff;
    --color-white-300: #ffffff;
    --color-white-400: #ffffff;
    --color-white-500: #ffffff;
    --color-white-600: #e8e8e8;
    --color-white-700: #b5b5b5;
    --color-white-800: #8c8c8c;
    --color-white-900: #6b6b6b;

    --color-orange-50: #fef5e6;
    --color-orange-100: #fadfb0;
    --color-orange-200: #f8d08a;
    --color-orange-300: #f5ba54;
    --color-orange-400: #f3ad33;
    --color-orange-500: #f09800;
    --color-orange-600: #da8a00;
    --color-orange-700: #aa6c00;
    --color-orange-800: #845400;
    --color-orange-900: #654000;

}

@custom-variant dark (&:where(.dark,.dark *));
